<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmpe277.garbagemanagementsystem">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GarbageManagementSystem">

        <activity android:name=".AdminMenu.WorkDetails" />
        <activity android:name=".UserMenu.UserProfile" />
        <activity android:name=".DriverMenu.DriverProfile" />
        <activity android:name=".DriverMenu.CheckBin" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAP_API_KEY" />

        <activity android:name=".DriverMenu.DriverScreen"/>
        <activity android:name=".OpenMap">
        </activity>
        <activity android:name=".AdminMenu.ViewComplaints" />
        <activity android:name=".UserMenu.UpdateComplaint" />
        <activity android:name=".UserMenu.BinSearch" />
        <activity android:name=".UserMenu.RegisterComplaint" />
        <activity android:name=".AdminMenu.ViewDrivers" />
        <activity android:name=".AdminMenu.UpdateBin" />
        <activity android:name=".AdminMenu.CreateBin" />
        <activity android:name=".LogInStuff.DriverRegistration" />
        <activity android:name=".MainScreen.UserScreen" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInStuff.UserRegistration" />
        <activity android:name=".LogInStuff.DriverLogIn" />
        <activity android:name=".LogInStuff.AdminLogIn" />
        <activity android:name=".MainScreen.AboutUs" />
        <activity android:name=".MainScreen.AdminScreen" />
        <activity android:name=".LogInStuff.AdminRegistration" />
        <activity android:name=".LogInStuff.Registration" />
        <activity android:name=".LogInStuff.UserLogIn" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>